includes:
    - vendor/phpstan/phpstan-beberlei-assert/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
    bootstrapFiles:
        - '%rootDir%/../../../vendor/codeception/codeception/autoload.php'
    level: 8
    paths:
        - src
        - tests
    inferPrivatePropertyTypeFromConstructor: true
    excludes_analyse:
        - '%rootDir%/../../../tests/_support/_generated'
        - '%rootDir%/../../../tests/_support/project/var'
        - '%rootDir%/../../../tests/_support/UnitTester.php'
