includes:
    - vendor/phpstan/phpstan-beberlei-assert/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
    bootstrapFiles:
        - 'vendor/codeception/codeception/autoload.php'
    level: 8
    paths:
        - src
        - tests
    inferPrivatePropertyTypeFromConstructor: true
    excludePaths:
        - 'tests/_support/_generated'
        - 'tests/_support/project/var'
        - 'tests/_support/UnitTester.php'
    ignoreErrors:
        -
            message: '#^Parameter \#1 \$errors of method Tests\\FSi\\App\\Controller\\[a-zA-z]{1,}Controller::formErrorsToMessage\(\).{1,}$#'
            path: 'tests/_support/project/src/Controller'
            reportUnmatched: false


